*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
.pull-left{
    float: left;
}
.sidebar{
    width: 22%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f44336;
    color: white;
    height: 660px;
    padding-left: 30px;
    box-sizing: border-box;
    display: block;
}

.sidebar li a{
    padding: 8px 150px 8px 8px;
}
.sidebar li a:hover{
    color: #000;
    background: rgb(241, 241, 241);
    
}
h1{
    font-size: 4em;
}
.sidebar h2{
    color: white;
    font-size: 1.5em;
    padding-top: 115px;
    margin-bottom: 75px;
}
.sidebar ul{
    list-style: none;
    
}
.sidebar li{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.1em;
    
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
}
.page-content{
    width: 78%;
    margin-left: 22%;
}
.aligning{
    width: 90%;
    margin: 90px auto 0px auto;
}
h2{
    color: #f44336;
    margin-bottom: 30px;
    font-size: 3em;
}
.underline{
    margin-bottom: 30px;
    width: 60px;
    height: 10px;
    background: #f44336;
    border-radius: 4px;
}
.row1, .row2{
    margin-bottom: 10px;
}
.showcase img{
    opacity: 0.8;
}
.showcase img:hover{
    opacity: 1;
}
.large-margin{
    margin-bottom: 95px;
}
.small-margin{
    margin-bottom: 30px;
}
.image1, .image2{
    width: 49%;
}
.image1{
    margin-right: 2%;
}
.designer1, .designer2, .designer3{
    width: 32%;
    filter: grayscale(75%);

}
.designer1, .designer2{
    margin-right: 2%;
}
.description{
    display: inline-block;
    background: rgb(241, 241, 241);
    padding-left: 15px;
}
.designer1 img, .designer2 img, .designer3 img{
    width: 100%;
    display: block;
   
}

.name{
    padding-top: 20px;
    font-size: 1.4em;
    margin-bottom: 15px;
    
}
.post{
    margin-bottom: 15px;
    color: #aaa;
}
.about{
    margin-bottom: 15px;
    color:#333;
}
.basic, .pro{
    width: 49%;
    text-align: center;
    
        
}
.basic ul, .pro ul{
    list-style: none;
}
.basic li, .pro li{
    border-bottom: solid 1px #ccc;
    padding: 25px 0px;
    background: rgb(221,221,221);
}
.basic{
    margin-right: 2%;
    
}
.prices .basic .basic-heading{
    background: rgb(97,97,97);
    color:white;
    font-size: 1.5em;
}
.prices .pro .pro-heading{
    background:#f44336 ;
    color:white ;
    font-size: 1.5em;
}
.basic-button{
    text-decoration: none;
    background: white;
    color: #000;;
    padding: 15px 25px;
}
.basic-button:hover{
    background: #000;
    color:white;
}
.pro-button{
    text-decoration: none;
    background: rgb(244, 67, 54);
    color: white;
    padding: 15px 25px;
}
.pro-button:hover{
    background: #000;
    color:white;
}
label{
    display: block;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    height: 42px;
}
.send-message{
    width: 100%;
    background: rgb(244, 67, 54);
    color: white;
    padding: 15px 0px;
    border: none;
    font-size: 1.2em;
}
.send-message:hover{
    background: rgb(221, 221,221);
    color: #000;
}
.send-message:active{
    background: rgb(221, 221,221);
    color: #000;
    border: solid 1px #2892D7;
}
footer{
    height:120px;
    background: rgb(221, 221, 221);
    line-height: 120px;
    text-align: right;
    color: #333;
    padding-right: 50px;
}
footer a{
    color: #333;
}
.team-text{
    font-weight: 700;
}